<footer>
  
</footer>

<!-- Your Component's HTML File
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>
          <i class="fas fa-phone-alt"></i>
          &nbsp;
           <strong>Contact:</strong> +91 83082 05999
        </p>
      </div>
      <div  class="col-md-4"> 
        <p>
          <i class="fas fa-envelope"></i>
          &nbsp;
          <strong>Email: </strong>
          <a href="mailto:hrrkgrp@gmail.com">hrrkgrp@gmail.com</a>
        </p>
      </div>
      <div class="col-md-4">
         Facebook -->
        <!-- <p><strong>Contact with us</strong></p>
        &nbsp; 
        <a href="https://www.facebook.com/people/HRRK-GROUP-Of-Componies/100094152913906/?mibextid=9R9pXO" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a> 
        <div class="google_map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.770714686369!2d74.2879095!3d16.6382726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc0ffae2ab2d5e3%3A0xc34d996f7d037f55!2sH.R.R.K.%20Group%20Of%20Companies!5e0!3m2!1sen!2sin!4v1703170879966!5m2!1sen!2sin"
             >
            </iframe> 
        </div>
      </div>

    </div>
  </div>
</footer> --> 






