<!-- navbar.component.html -->
<nav class="navbar">
  <div class="logo">
    <img src="./assets/rekhraj_logo.jpg" alt="Company Logo" />
  </div>
  <div class="company-info">
    <h1>{{ companyName }}</h1>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/subcompanies">Namrushi Industries</a></li>
    <li><a routerLink="/subcompanies">Rekhraj WTT</a></li>
    <li><a routerLink="/subcompanies">Rekhraj Ventures</a></li>
    <li><a routerLink="/subcompanies">Krishnai Mobility</a></li>
    <li><a routerLink="/about">About Us</a></li>
    <!-- Add more navigation links as needed -->
  </ul>
</nav>
